coreext_*
ghidraext_*
consoleext_*
libdecomp.a
libdecomp_dbg.a
decomp_dbg
decomp_opt
ghidra_dbg
ghidra_opt
decomp_test_dbg
decomp_test_san
sleigh_dbg
sleigh_opt
com_dbg
com_opt
test_dbg
ghi_dbg
ghi_opt
sla_dbg
sla_opt

